//Colors
$dark: #1f2b33;
$primary: #294d66;
$secondary: #1f6699;
$tertiary: #0077cc;
$gray: #929292;
$white: #ffffff;

//Screen
$breakpoint: 768px;

// Font
$fs-title: 1.875rem;

// Border
$br: 10px;
$br-sm: 5px;
$br-xs: 2px;
